extends ../layout.pug

block title
  title 关于滔's 博客

block content
  main.tc-container
    .blog
      .intro
        h2.tc-font-title 滔's 博客
        p 林滔的个人博客，一个记录学习与生活的网站。
      .experience
        h2.tc-font-title 经历
        p 从2016年6月说起，那是大二的时候，学院组织我们出去培训，也就是那一个月，真正地接触技术。当然学校里也有上C/C++的课，然而
          | 并不感兴趣。当时培训时认识了一个好朋友，他还是了解技术的，还买过服务器，也是觉得很高大上，就去买了腾讯云，一个月一块钱，
          | 还申请幕布备案了个域名。这即是萌芽之初
        p 到了2017年3月，帮学校的导航样式重写了下，兼容IE6/7/8的难受地香菇。一直都在看别人的博客，就想要有个自己的博客，想有作为，
          | 博客就是证明。花了一个礼拜的时间，写了一些静态页面，可以说的上是
          a(href="/v1.0/index.html") 1.0版本
          | 了，hah。但毕竟只是静态的，都没法儿写文章、发布之类的，顶多就一个留言功能，还没防SQL注入，被别人鄙视的不行。再看过诸如
          | WordPress这样的系统后，有了一个新的想法
        p 在2018年3月的时候，就决定花时间来重写自己的博客，并给自己定了四项任务：博客、管理后台、博客API、手机App管理。然而下班了一直
          | 在打游戏，到周末也是玩的很晚，第二天起来的时候已经十一点了。一直拖啊拖，拖啊拖
        p 2018年6月，毕业了，请了三个月的假，公司又招了两个人，HR来电话叫离职。于是乎，转战到杭州，漫漫的找工作之旅，然而并不顺利，
          | 准备先住下来，继续找。。。找的时候没事干呀，又干起老本行撸代码了
      .more
        h2.tc-font-title 更多
        p 没了。。。
        //- p 江郎才尽有时，发展无极限，毕竟长江后浪推前浪
    .blogger
      h2.tc-font-title 博主信息
      //- p 花名林滔
      //- p 男
      //- p 一九九六年六月生
      //- p 江西吉安人士
      //- p 从事互联网行业，主前端开发
      //- p 开朗乐观、怀旧，听歌
      //- p 等待一点一滴 你对我感到安心 感觉朋友关系 有了新的默契 便利商店里 谁也买不到 我们最想要的东西 只握在喜欢的人手上
      p 林滔
      p 男，90后江西吉安人。从事IT行业，前端开发工程师。性格开朗乐观、很怀旧，有的时候能说一大堆子的话，有的时候一声不吭。
        | 平时除了敲代码外，也会看看视频、打打游戏，当然需要运动起来，嗯，这个在计划之中
      a#showPhoto(role="button") 查看照片
      img.hidden.photo(src="https://download.ningtaostudy.cn/photo.jpg", alt="头像", width=270, height=270)
