{
    "extends": "airbnb-base",
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "linebreak-style": "off",
        "no-underscore-dangle": ["error", { "allowAfterThis": true }],
        "no-use-before-define": ["error", { "functions": false }],
        "prefer-destructuring": ["error", { "AssignmentExpression": { "object": false, "array": false  } }],
        "import/extensions": ["error", "ignorePackages"],
        "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    }
}