{
    "extends": "airbnb-base",
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "no-use-before-define": ["error", { "functions": false }],
        "prefer-destructuring": ["error", { "AssignmentExpression": false }],
        "import/extensions": ["error", "ignorePackages"],
        "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    }
}