@import '../../common/variables.less';
@import '../../styles/typography.less';

main {
  padding-top: @mainSpace * 2;
  min-height: 400px;
}

.filter-type,
.filter-tag {
  margin-bottom: @mainSpace;
  // margin-left: -@mainSpace;

  & .list {
    display: inline-block;
    .clearListStyle;
  }
}

.filter-item {
  display: inline-block;
  margin-left: @mainSpace;
  margin-bottom: 0;

  &.title {
    color: @textColorSecondary;
    font-size: @font-size-small;
    margin: 0;

    .icon {
      position: relative;
      top: 2px;
    }
    .color { fill: @textColorSecondary }
  }

  input { display: none; }

  .item {
    border-radius: 3px;
    transition: .3s;
    cursor: pointer;

    &:hover { color: @activeColor }

    .color { fill: @textColor }
  }
  // 选中状态
  input:checked + .item {
    padding: 4px 10px;
    color: #fff;
    background: @mainColor;

    .color { fill: #fff }
  }
}

.results {
  margin-top: @mainSpace * 4;

  .list { .clearListStyle; }
  .list-item {
    display: flex;
    align-items: center;
    padding: @mainSpace * 2 0;

    .content { flex: 1 }
    .cover {
      margin-left: @mainSpace * 4;
      width: 98px / @goldRatio;
      height: 98px;
      border-radius: 2px;
      object-fit: cover;  
    }
  }
}

.results > .info {
  margin: 0 0 @mainSpace * 2 0;
  padding-bottom: @mainSpace / 2;
  border-bottom: 1px solid @borderColor;
  font-size: @font-size-small;

  & > a {
    margin-right: @mainSpace;

    &.active {
      color: @textColor;
      pointer-events: none;
    }
  }

  .total {
    float: right;
  }
}

#more {
  margin: @mainSpace 0 0 -1rem;
  color: @mainColor;
  font-size: @font-size-small;
}
.no-more {
  color: @tipColor;
  font-size: @font-size-small;
}
