extends ../layout.pug

block title
  title 留言板_滔's 博客

block content
  main.tc-container
    form#form-msg
      input.tc-font-title(type="text", name="name", placeholder="你的名字", autocomplete="off", maxlength=10)
      hr.divider
      textarea(name="content", rows="5", placeholder="说点什么呢？畅所欲言时可别无视法律法规...", spellcheck="false", maxlength=400)
      .btns-action
        button.tc-button.tc-ripple.btn-submit(type="submit") 到此一游
        button.tc-button.btn-reset(type="reset") 清空
    ul.list-msg
      li#my-msg.msg
        img.msg-cover(src= require('../assets/photo.jpg'), alt="头像", width=50 height=50)
        .msg-content
          h3.tc-font-title 微风轻拂晨曦之纱
            time.msg-time 刚刚
          p.msg-summary 我希望有一个如你一般的人，如山间清爽的风，如古城温暖的光，只要最后是你就好。
      li.msg.empty
        a#load-more(href="javascript:;" role="button") 加载更多
