extends ../../layout.pug
include ../../components/icon_svg.pug

block title
  title 文章详情_滔's 博客

block content
  main.tc-container
    article.container-article.skeleton
      //- 骨架屏：文章
      .skeleton-article
        <!-- %ssr_inject% -->
        .title
        .info-label
        .info-label
        .body
          .summary
            .p
            .p
          each tmp in Array(3)
            .section
              .section-title
              .p
              .p
              .p
      //- ====================================
      .markdowned
        h1.title Markdown - 语法
        p.info
          +icon('time', 14)
          time.time 刚刚
          br
          +icon('tag', 14)
          span.tag JavaScript
        .body
      //- 骨架屏：目录
      .skeleton-catalog
        .title
        each tmp in Array(5)
          .p
      //- ====================================
      .tc-affix(data-top=10)
        aside.catalog
          //- img.cover(src= require("../../assets/life.jpg"), alt="封面", height=200)
          .content 无目录
    .container-more
      .actions
        button.tc-ripple(title="喜欢")
          +icon('heart', 20)
        button.tc-ripple(title="踩一下")
          +icon('foot', 20)
      p.previous 上一篇：
        a(href="#") 钢铁是怎样炼成的
      p.next 下一篇：
        a(href="#") 打酱油
      .comments
        form#form-comment
          textarea.input-comment(name="content", cols="30", rows="10", maxlength=200, placeholder="说说你的看法~")
          .tip
            button.tc-ripple 评论
            |  Ctrl + Enter
        ul.list-comment.skeleton-comment
          //- 骨架屏
          li.comment
            .comment-at
            .comment-content
              .p
              .p
