extends ../layout.pug
include ../components/icon_svg.pug

block title
  title 搜索_滔's 博客

block content
  .suggest
    p.tc-container 搜了这么多次都没有，试试去筛选
      a(href="/articles") 所有文章
      button#close
        +icon('close', 10)
  main.tc-container
    .info
      .for-developer.tc-text-center
        p 开发者，你好
        code ?q=xxx
      .loading
        img(src="/favicon.ico", alt="", width=30, height=30)
        span Loading
      .no-result.no-input.tc-text-center
        +icon('no-result', 60)
        p.tc-text-center
          span 无输入，
          | 无结果
    .result.hidden
      span.num 找到的结果数量
      ul.list
