footer.footer.tc-container
  abbr All rights reserved.
  .copyright
    a.record(href="https://beian.miit.gov.cn", target="_blank", rel="nofollow noopener noreferrer") 皖ICP备16016097号-1
    span © #{new Date().getFullYear()} 滔
  .links
    //- a(href="http://www.beian.miit.gov.cn" target="_blank" rel="nofollow noopener noreferrer") 工信部
    a(href="/tools") 工具
    a(href="/admin" target="_blank") 管理员
