footer.tc-container
  abbr(title="没有它，你不会见到这一切。") 致敬 GitHub。
  .copyright
    span.record 皖ICP备16016097号-1
    span © #{new Date().getFullYear()} 滔
  .links
    a(href="http://www.beian.miit.gov.cn" target="_blank") 工信部
    a(href="/tools") 工具
    a(href="/admin") 管理员
