extends ../layout.pug
include ../components/icon_svg.pug

block title
  title 实用小工具_滔's 博客

block content
  main.tc-container
    ul.list-tool
      li.base64.active
        a(href="#base64") Base64转码
      li.character
        a(href="#character") 字符
      //- li
      //-   a(href="#") 待做
    .container-tool
      .base64.active
        p Base64是常见的编码方式，好处良多。这里提供文字、图片的互相转换
        .text-to-b64
          textarea.input(data-pattern="text" placeholder="输入文字..." autocomplete="off" spellcheck="false")
          +icon('arrow-right')
          textarea.transformed(spellcheck="false")
          +icon('copy')
        .b64-to-text
          textarea.input(data-pattern="b64" placeholder="输入Base64..." autocomplete="off" spellcheck="false")
          +icon('arrow-right')
          textarea.transformed(spellcheck="false")
          +icon('copy')
        .img-to-text
          .upload
            .info
              +icon('plus')
              p 点击、拖拽到此
            .preview.hidden
              img
            input#img(type="file" accept="image/*")
          +icon('arrow-right')
          textarea.transformed(spellcheck="false")
          +icon('copy')
        .text-to-img
          textarea.input(placeholder="输入Base64，转为图片" autocomplete="off" spellcheck="false")
          +icon('arrow-right')
          .transformed(style="text-align: center")
      
      //- 一些字符，或许能当图标使用
      .character
        p 下面是收集的一些有趣的字符，或许能当图标用。
          strong 但要注意兼容性！
        - const str = ['✓', '✗']
        each val in str
          span= val
        span(title="华为手机一般只显示 1 条杠，这个字符能够正常显示成 2 条") ¥
