doctype html
html(lang="zh")
head
  //- 精准地描述网页
  meta(http-equiv="Content-Type", content="text/html;charset=GBK18030")
  //- 屏幕适配，iphoneX
  meta(name="viewport", content="width=device-width,initial-scale=1,viewport-fit=cover")
  //- SEO
  meta(name="keywords", content="博客,个人博客,滔,涛,前端,技术")
  meta(name="description", content="一个名为滔的前端开发工程师的博客网站，每天的技术分享与生活笔记，谨以此来纪念我即将逝去的青春。")
  block title
    title 滔's 博客
  link(rel="stylesheet", href= require("../assets/common.css"))
  block stylesheets
body
  block header
    include components/header.pug
  block content
  block footer
    include components/footer.pug
  block scripts
