extends ../layout.pug
include ../components/icon_svg.pug

block title
  title 忆往昔如烟，度余生_滔's 博客

block content
  main.tc-container.container
    .tc-affix(data-top=0)
      ul.time-quantum
        -
          const { genSeasons } = require('./index.pug.js');
          const displayTimes = genSeasons();
        each item,index in displayTimes
          li.season(class= index === 0 ? 'active' : '', data-id= item.value)
            a.season-item.tc-ripple(href= `#${item.value}`, role="button")
              +icon(item.season, 20)
              | #{item.text}
    .articles.loading
      .skeleton
        each tmp in Array(3)
          .skeleton-article
            .title
            .description
              span
              span
            .p
            .p
            .p
        .skeleton-btn
      ul.list-article
        each val in new Array(0)
          li.tc-list-item-article
            h3.title
              a(href="/articles/detail") XX
            .description
              time(title="发布时间") 12小时
              i.tc-divider
              span(title="分类标签") 打酱油
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ut, perferendis sapiente culpa exercitationem ratione cumque quo facilis odio vero aspernatur cupiditate totam quos iure incidunt laboriosam quidem est dolorum.
      button#more.tc-button.tc-ripple 加载更多
      span.no-more 暂无更多~