doctype html
html(lang="zh")
  head
    //- 精准地描述网页
    meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
    //- 屏幕适配，iphoneX
    meta(name="viewport", content="width=device-width,initial-scale=1,viewport-fit=cover")
    //- IE优化
    meta(name="X-UA-Compatible", content="IE=edge,chrome=1")
    //- SEO
    block head_keywords
      meta(name="keywords", content="博客,个人博客,滔,诸葛林,前端,技术")
    block head_description
      meta(name="description", content="滔's 博客，前端开发工程师的学习笔记。每天的技术分享与生活笔记，谨以此来纪念即将逝去的青春。")
    //- Chrome App上主题色
    meta(name="theme-color", content="#009688")
    block title
      title 滔's 博客
    //- 网站速度优化
    link(rel="dns-prefetch", href="//api.ningtaostudy.cn")
    //- 图标
    link(rel="apple-touch-icon", href="/favicon.ico")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    block styles
  body
    block header
      include components/header.pug
    noscript
      .tc-error
        p.tc-container 你已禁用浏览器 JavaScript 功能，开启以获得最佳体验
    block content
    block footer
      include components/footer.pug
    script(type="text/javascript").
      // IE11 support
      if (!(window.Promise || window.Symbol)) {
        document.write('<script src="/js/ie11-polyfill.js"><\/script>');
      }
    block scripts
