header
  nav.container
    form#search(action="/search.html")
      img(src= require('../assets/icon_search.png'), alt="", width=20, height=20)
      input(type="text", placeholder="搜点什么呢", name="s", autocomplete="off")
    ul
      -
        const links = {
          index: {
            path: '/',
            text: '首页',
            className: '',
          },
          note: {
            path: '/note.html',
            text: '笔记',
            className: '',
          },
          life: {
            path: '/life.html',
            text: '生活',
            className: '',
          },
          about: {
            path: '/about.html',
            text: '关于这个',
            className: '',
          },
        };
        links[htmlWebpackPlugin.options.pathname].className = 'active';
      each link in links
        li
          a(class= link.className, href= link.path)= link.text
    a.msg(href="/", title="留言板")
      include svg_icon/msg.pug
